{% extends "cardEditorBase.html" %}

{% block heady %}
<title>New Card Set | Front Side of Card</title>
{% endblock %}

{% block toolBox %}
    <input type="submit" value="Card Description" name="submit">
    <br>
    <input type="submit" value="Change to Back-Side of Card" name="submit">
    <textarea style="display:none;" name="sideOfCard">front</textarea>
{% endblock %}

{% block cardSide %}
    <textarea style="display:none;" name="sideOfCard">front</textarea>
{% endblock %}

{% block userCard %}
<!--The div that will be decorated in accordance to the user's settings!-->
<div id="userCard" style="overflow:expand; background-color:white; background-color:{{newBackColor}}; width:20%; height:500px; border-style:none; border-style:{{borderStyle}}; border-color:{{borderColor}};">
    <h2 id="userTitle" style="text-align:top; color:black; color:{{newColor}}; font-family:{{newFontFam}};">{{userText}}</h2>
    <figure style="text-align:top;" id="userIcon">
        <img src="{{userImg}}" alt="No Image Selected" draggable="false" width="100%" height="150%">
    </figure>
    <hr>
    <p style="text-align:center; font-family:{{descFont}}; color:{{descCol}};" id="userDesc">{{userDescription}}</p>
</div>
{% endblock %}

{% block iconOptions %}
{% endblock %}